.post {
    
}

.header {
    display: flex;
    gap: 5px;
    height: 10%;
}

.usernameHeader {

}

.followButton {

}

.content {
    width: 100%;
    height: 80%;

}

.contentImg {
    width: 100%;
    aspect-ratio: 1/1;
    margin: auto;
    display: block;

}

.contentButtons {
    width: 100%;

}


.likeButton {
    width: 50%;
    aspect-ratio: 5/1;
}

.commentButton {
    width: 50%;
    aspect-ratio: 5/1;
}

.footer {

}

.comments {

}

.commentWrapper {

}

.commenterHeader {

}