.post {


    box-shadow: var(--base-shadow);
    border-radius: var(--base-radius);
    width: 95%;
    position: relative;

}


.headerWrapper {
    display: flex;
    gap: 5px;
    align-items: flex-start;
    padding: 0.5rem 1rem 0.25rem 1rem;
}

.userIcon {
    width: 10%;
    aspect-ratio: 1/1;
    border: 1px solid black;
    border-radius: 100%;
}

.headerTextWrapper {
    display: flex;
    align-items: center;
}

.dot {

}

.usernameHeader {

}

.followButton {

}

.content {
    width: 100%;


}

.content p {
    padding: 0.25rem 1rem 0.25rem 1rem;
}

.contentImg {
    width: 100%;
    aspect-ratio: 1/1;
    margin: auto;
    display: block;

}

.contentButtons {
    width: 100%;

}


.likeButton {
    width: 50%;
    aspect-ratio: 5/1;
}

.commentButton {
    width: 50%;
    aspect-ratio: 5/1;
}

.footer {

}

.collapserWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;


}

.collapserWrapper::before {
    content: "";
    width: 90%;
    height: 1.5px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: var(--base-radius);
    background-color: #adadad;
}

.collapserText {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.checkbox {
    display: none;
}

.collapserArrow {
    transition: transform 0.3s ease;
}

.checkbox:checked ~ .collapserText .collapserArrow {
    transform: rotatez(-180deg);

}

.comments {
    max-height: 500px;
    overflow: hidden;
    transition: max-height 0.8s cubic-bezier(0.96, 0.36, 0.08, 0.66), opacity 0.3s ease-in-out;
    opacity: 1;
}

.hideComments {
    transition: max-height 0.4s cubic-bezier(0.17, 0.33, 0, 1.03), opacity 0.3s ease-in-out;
    max-height: 0;
    opacity: 0;
}


.commentWrapper {

}

.commenterHeader {

}