header {
    width: 100%;
    height: var(--header-height);
    background-color: var(--header-color);
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

footer {
    width: 100%;
    height: var(--footer-height);
    background-color: var(--footer-color);
}